.inputs {
  display: flex;
  width: auto;
  padding: 10px;
  margin-top: 20px;
  position: relative;
  left: 12px;
}
.input_item {
  height: 56px;
  margin-right: 10px;
}

.input_startButton {
  composes: input_item;
  cursor: pointer;
}
