.inputs {
  display: flex;
  width: auto;
  border: 3px solid blue;
  margin-top: 20px;
}
.input_item {
  height: 56px;
  margin-right: 10px;
}

.input_startButton {
  composes: input_item;
  cursor: pointer;
}
